/* fonte sito */
* {
    font-family: Arial, sans-serif;
  }

/* image centered */
img {
    display: block;
    margin: auto;
  }

/* elementi p */
#p-sottotitolo{
    text-align: center;
    height: auto;
}


/* Titolo h1 */
h1 {
font-weight: bolder;
text-align: center;
color: black;
}

/* Elemento P sotto immagine focaccia */
#p-fonteimmagine {
    font-weight: lighter;
    color: grey;
    text-align: center;
}

/* Elemento P con il link */
#p-featured {
 color: red;
}

/* contenitore*/
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

/* Titolo h2 */
h2{
font-weight: normal;
font-size: 2em;
color: black;
}

/* Titolo h3 */
h3 {
background-color: bisque;
color: mediumaquamarine;
text-align: center;
border-top: 2px;
border-color: yellow;
}
/* Titolo h2 */
h3{
    font-weight: normal;
    font-size: 2em;
    color: black;
    }

/* colore hr */
hr {
    border-color: aqua;

  }

